!!! 5
html
  head
    title Kyle Weller
    meta(http-equiv="X-UA-Compatible", content="IE=Edge,chrome=1")
    //if IE
      script
        alert(
            'Your version of Internet Explorer is out-of-date and or buggy.'
          + ' Please use Chrome or Firefox to run this application.'
        );
    meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
    meta(charset="utf-8")
    link(rel="stylesheet", href="style.css", type="text/css", media="screen")
    link(rel="stylesheet", href="style.css", type="text/css", media="print")
    script(src="pakmanaged.js")
  body
    .css-container.js-container(data-active="main")
      .css-portfolio.js-portfolio.css-section.css-hidden
        h1 portfolio
        .js-nav.css-nav.css-bottom
          span.css-top(data-active="main") Main
      .css-main.js-main.css-section
        .css-profile-container.js-profile-container
          .css-overview.js-overview
            .css-main-intro.js-main-intro
              span.css-name Kyle Weller
              span.css-title.js-title Electrical Engineer
            button.js-view-profile.css-view-profile
          .css-image-container
            img(src="./images/profilePic.jpg")
          object.css-details.js-details.css-faded(data="http://kywe665.com/resume.pdf")
            p Your browser is out of date and is unable to display this content.
            a(href="http://kywe665.com/resume.pdf") Download content here
        .js-nav.css-nav.css-top
          span.css-bottom(data-active="portfolio") Portfolio
        .js-nav.css-nav.css-bottom
          span.css-top(data-active="contact") Contact
      .css-contact.js-contact.css-section.css-hidden
        h1 contact
        .js-nav.css-nav.css-top
          span.css-bottom(data-active="main") Main


    .css-resizer.js-resizer Electrical Engineer
