!!! 5
html
  head
    title Kyle Weller
    meta(http-equiv="X-UA-Compatible", content="IE=Edge,chrome=1")
    //if IE
      script
        alert(
            'Your version of Internet Explorer is out-of-date and or buggy.'
          + ' Please use Chrome or Firefox to run this application.'
        );
    meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
    meta(charset="utf-8")
    link(rel="stylesheet", href="style.css", type="text/css", media="screen")
    link(rel="stylesheet", href="style.css", type="text/css", media="print")
    script(src="pakmanaged.js")
    script(type="text/javascript")(src="http://download.skype.com/share/skypebuttons/js/skypeCheck.js")
  body.index
    .wrapper
      .parent(data-height="430")
        .floater
        .child
          .css-overview.js-overview
            .css-main-intro.js-main-intro
              span.css-name Kyle Weller
              span.css-title.js-title Electrical Engineer
              span.css-download.css-hidden Download Resume: 
                a(href="/resume.pdf")(target="_blank") .pdf 
                a(href="/resume.docx") .doc 
            button.js-view-profile.css-view-profile
            .css-image-container
              img(src="./images/profilePic.jpg")
          iframe.css-faded(src="http://docs.google.com/viewer?url=kywe665.com%2Fresume.pdf&embedded=true")(style="border: none;")
      .nudge
    .footer
      .footer-wrap
        .css-links
          .css-contact
            span Contact Me:
            span.number 925.681.9827
          a(href="mailto:kywe665@gmail.com?subject=Hello%20Kyle&body=Kyle%20Weller,%0A%20I%20would%20like%20to%20meet%20you%20in%20person,%20when%20can%20I%20meet%20you?")(target="_blank")
            img.css-mail(src="./images/mail.svg")
          a(href="http://www.facebook.com/kywe665")(target="_blank")
            img(src="./images/f_logo.png")
          a(href="https://github.com/kywe665")(target="_blank")
            img(src="./images/octocat.png")
          a(href="http://www.linkedin.com/pub/kyle-weller/26/380/b09")(target="_blank")
            img(src="./images/linkedin.png")
          a.js-map(href="https://maps.google.com/maps?q=637+N+300+E,+Provo,+UT")(target="_blank")
            img(src="./images/maps.png")
          a(href="skype:kywe665?call")(target="_blank")
            img(src="./images/skype.png")
        .css-portfolio
          a(href="portfolio.html") Portfolio
