!!! 5
html
  head
    title Kyle Weller
    meta(http-equiv="X-UA-Compatible", content="IE=Edge,chrome=1")
    //if IE
      script
        alert(
            'Your version of Internet Explorer is out-of-date and or buggy.'
          + ' Please use Chrome or Firefox to run this application.'
        );
    meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
    meta(charset="utf-8")
    link(rel="stylesheet", href="style.css", type="text/css", media="screen")
    link(rel="stylesheet", href="style.css", type="text/css", media="print")
    script(src="pakmanaged.js")
    script(type="text/javascript")(src="http://download.skype.com/share/skypebuttons/js/skypeCheck.js")
  body.portfolio
    .wrapper
      .header
        .css-center
          .css-name Kyle Weller
          .css-portfolio
            a Portfolio
          .css-home
            a(href="index.html") Home
      .page
        .main-body
          .project
            a(name="netbug")
            .css-project-title
              span Netbug
              .css-folded
            .css-triangle
            .css-project-description
              img(src="./images/netbug.gif")
              p Netbug is a tool I designed to help troubleshoot network communications similar to Fiddler and Wireshark. It has a sleek interface that runs in any HTML5 browser and communicates with a server I wrote in Node.js. I created this tool when my software development team was searching for an easier way to monitor and test software over a network. You can open a listener on any local port for HTTP, TCP, and UDP traffic. It will print all the packets received on the line and gives you the option to log the data to your file system. Using HTTP you will have access to the raw headers of the request. The GUI automatically detects JSON and XML and will pretty print the data with syntax highlighting. This project is open source and the code can be found on my github page. It works on Windows, Mac, and Linux. For installation instructions, see the readme on the 
                a(href="http://github.com/kywe665/network-debugger") project page.
          .project
            a(name="laserTruck")
            .css-project-title
              span 2nd place Laser Truck Rally
              .css-folded
            .css-triangle
            .css-project-description
              img(src="./images/laserTruck.gif")
              p 
          .project
            a(name="motionDetector")
            .css-project-title
              span Arduino motion detector
              .css-folded
            .css-triangle
            .css-project-description
              img(src="./images/arduino.gif")
              p My birthday rolls around and what is on the top of my wishlist? An open source microcontroller known as Arduino. Arduino is any DIY enthusiasts dream. It provides a simple way of interfacing software with external circuitry. My first project with the arduino was creating a motion detector. I built a simple circuit with a photodiode and read in the analog signals. My arduino would then calculate the average ambient light of the room. When it detected a significant difference, it would power another circuit I designed to sound an alarm. Check out the code on the 
                a(href="http://github.com/kywe665/motion-sensor") project page.
          .project
            a(name="ui")
            .css-project-title
              span UI Design
              .css-folded
            .css-triangle
            .css-project-description
              img(src="./images/ui.gif")
              p Here is the before and after of an interface that I redesigned for a polished professional look.
          .project
            a(name="sports")
            .css-project-title
              span BYUtv Sports
              .css-folded
            .css-triangle
            .css-project-description
              img(src="./images/sports.gif")
              p This is a sports website that I worked on from April 2011 - April 2012. It is a socially interactive site designed to connect BYU sports fans to content, players, and eachother. You can stream live HD games or go back and watch games dated as old as 1984. You can create your own profile, design your own jersey, and upload your own content to share with your friends. I was there at the start of the project and have worked on almost every single page of the website. Check it out at 
                a(href="http://byutvsports.com") byutvsports.com
        .nav-container
          .nav
            a(href="#top") Back to top >
            a(href="#netbug") Netbug >
            a(href="#laserTruck") Laser Truck Rally >
            a(href="#motionDetector") Arduino Projects >
            a(href="#ui") UI Design >
            a(href="#sports") BYUtv Sports >
      .nudge
    .footer
      .footer-wrap
        .css-links
          .css-contact
            span Contact Me:
            span.number 925.681.9827
          a(href="mailto:kywe665@gmail.com?subject=Hello%20Kyle&body=Kyle%20Weller,%0A%20I%20would%20like%20to%20meet%20you%20in%20person,%20when%20can%20I%20meet%20you?")(target="_blank")
            img.css-mail(src="./images/mail.svg")
          a(href="http://www.facebook.com/kywe665")(target="_blank")
            img(src="./images/f_logo.png")
          a(href="https://github.com/kywe665")(target="_blank")
            img(src="./images/octocat.png")
          a(href="http://www.linkedin.com/pub/kyle-weller/26/380/b09")(target="_blank")
            img(src="./images/linkedin.png")
          a.js-map(href="https://maps.google.com/maps?q=637+N+300+E,+Provo,+UT")(target="_blank")
            img(src="./images/maps.png")
          a(href="skype:kywe665?call")(target="_blank")
            img(src="./images/skype.png")
