html{
   height: 100%;
}
body{
   height: 100%;
  margin: 0;
  padding: 0;
}
.index .wrapper {
  background: url('./images/dot-pattern.gif') repeat transparent;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -80px auto;
  /*The -100px mentioned above needs to be the exact height of the footer.*/
  .parent {  
    height: 430px;
    -moz-transition-property: height;  
    -moz-transition-duration: .2s;  
    -webkit-transition-property: height;  
    -webkit-transition-duration: .2s;
  }

  .floater {
    float: left;
    height: 50%;
    width: 100%;
    margin-bottom: -215px;
  }

  .child {
    clear: both;
    height: 430px;
    width: 80%;
    margin: 0 auto 0 auto;
    min-width: 600px;
    max-width: 890px;
    background-color: rgba(0,0,0,0.2);
    box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.6);
    border-radius: 5px;
    overflow: hidden;
    iframe{
      width: 100%;
      height: 433px;
      position: relative;
      top: -44px;
      border-radius: 5px;
    }
    .css-details{
      background: blue;
      width: 100%;
      height: 100%;
      overflow-y: scroll;
      border-radius: 5px 5px 0px 0px;
      -webkit-transition-property: opacity;  
      -webkit-transition-duration: .3s;
    }
    .css-image-container {
      width: 178px;
      position: absolute;
      -webkit-transition-property: width, margin-left, margin-top;
      -webkit-transition-duration: .3s, .3s, .3s;
      -moz-transition-property: width, margin-left, margin-top;
      -moz-transition-duration: .3s, .3s, .3s;
      z-index: 1;
      overflow: hidden;
      margin-left: 15px;
      margin-top: 15px;
      img{
        -webkit-transition-property: border-radius;
        -webkit-transition-duration: .3s;
        -moz-transition-property: border-radius;
        -moz-transition-duration: .3s;
        width: 100%;
      }
    }
    .css-mini-overview .css-image-container{
      width: 90px;
      margin-left: 6px;
      margin-top: 6px;
      img{
        border-radius: 10px;
      }
    }
    .css-overview{
      -moz-transition-property: background, height;  
      -moz-transition-duration: .3s, .3s;  
      -webkit-transition-property: background, height;  
      -webkit-transition-duration: .3s, .3s;
      background-color: rgba(72, 73, 65, 0.6);
      background: -moz-linear-gradient(top,  rgba(135,135,135,0.4) 0%, rgba(76,76,76,0.4) 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(135,135,135,0.4)), color-stop(100%,rgba(76,76,76,0.4))); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top,  rgba(135,135,135,0.4) 0%,rgba(76,76,76,0.4) 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top,  rgba(135,135,135,0.4) 0%,rgba(76,76,76,0.4) 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(top,  rgba(135,135,135,0.4) 0%,rgba(76,76,76,0.4) 100%); /* IE10+ */
      background: linear-gradient(to bottom,  rgba(135,135,135,0.4) 0%,rgba(76,76,76,0.4) 100%); /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc878787', endColorstr='#cc4c4c4c',GradientType=0 ); /* IE6-9 */
      border-radius: 5px;
      width: 100%;
      height: 430px;
      z-index: 1;
      position: relative;
      .css-main-intro{
        -moz-transition-property: background, left, margin-top, height;
        -moz-transition-duration: .2s, .2s, .2s, .2s;
        -webkit-transition-property: background, left, margin-top, height;
        -webkit-transition-duration: .2s, .2s, .2s, .2s;
        width: inherit;
        position: relative;
        top: 50%;
        height: 148px;
        padding-top: 6px;
        font-family: Arial;
        background: rgba(0, 84, 191, 0.6);
        float: right;
        margin-top: -74px;
        span{
          -moz-transition-property: font-size, margin-left;
          -moz-transition-duration: .2s, .2s;
          -webkit-transition-property: font-size, margin-left;
          -webkit-transition-duration: .2s, .2s;
          font-size: 60px;
          display: block;
          margin-left: 240px;
          &.css-name{
            text-shadow: 0px 0px 65px lightblue, 1px 1px 0px lightblue;
          }
          &.css-title{
            color: white;
            text-shadow: 0px 0px 58px black, 1px 1px 3px black;
          }
        }
      }
      .css-view-profile{
        -moz-transition-property: bottom, margin-bottom;  
        -moz-transition-duration: .2s, .2s;  
        -webkit-transition-property: bottom, margin-bottom;  
        -webkit-transition-duration: .2s, .2s;
        position: relative;
        right: 15px;
        bottom: -312px;
        float: right;
        &:before{
          content: 'Show Resume'
        }
      }
      &.css-mini-overview{
        height: 40px;
        background: rgb(37,37,37); /* Old browsers */
        background: -moz-linear-gradient(top, rgba(37,37,37,1) 0%, rgba(73,73,73,1) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(37,37,37,1)), color-stop(100%,rgba(73,73,73,1))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, rgba(37,37,37,1) 0%,rgba(73,73,73,1) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, rgba(37,37,37,1) 0%,rgba(73,73,73,1) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, rgba(37,37,37,1) 0%,rgba(73,73,73,1) 100%); /* IE10+ */
        background: linear-gradient(to bottom, rgba(37,37,37,1) 0%,rgba(73,73,73,1) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#252525', endColorstr='#494949',GradientType=0 ); /* IE6-9 */
        border-radius: 5px 5px 0px 0px;
        .css-view-profile{
          bottom: 5px;
          &:before{
            content: 'Hide Resume'
          }
        }
        .css-main-intro{
          background: transparent;
          position: relative;
          margin-top: -13px;
          left: 108px;
          height: 19px;
          span{
            display: inline-block;
            font-size: 16px!important;
            font-weight: bold;
            margin-left: 15px;
            text-shadow: 1px 1px 0px black!important;
            &.css-name{
              color: white;
            }
            &.css-title{
              color: #0092bf;
            }
          }
        }
      }
    }
  }
}
div.footer{
  height: 80px;
  clear: both;
  position: relative;
  background: rgb(76,76,76); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(76,76,76,1) 0%, rgba(79,79,79,1) 0%, rgba(58,58,58,1) 20%, rgba(44,44,44,1) 50%, rgba(29,29,29,1) 52%, rgba(38,38,38,1) 100%, rgba(45,45,45,1) 100%, rgba(29,29,29,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(76,76,76,1)), color-stop(0%,rgba(79,79,79,1)), color-stop(20%,rgba(58,58,58,1)), color-stop(50%,rgba(44,44,44,1)), color-stop(52%,rgba(29,29,29,1)), color-stop(100%,rgba(38,38,38,1)), color-stop(100%,rgba(45,45,45,1)), color-stop(100%,rgba(29,29,29,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(76,76,76,1) 0%,rgba(79,79,79,1) 0%,rgba(58,58,58,1) 20%,rgba(44,44,44,1) 50%,rgba(29,29,29,1) 52%,rgba(38,38,38,1) 100%,rgba(45,45,45,1) 100%,rgba(29,29,29,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(76,76,76,1) 0%,rgba(79,79,79,1) 0%,rgba(58,58,58,1) 20%,rgba(44,44,44,1) 50%,rgba(29,29,29,1) 52%,rgba(38,38,38,1) 100%,rgba(45,45,45,1) 100%,rgba(29,29,29,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(76,76,76,1) 0%,rgba(79,79,79,1) 0%,rgba(58,58,58,1) 20%,rgba(44,44,44,1) 50%,rgba(29,29,29,1) 52%,rgba(38,38,38,1) 100%,rgba(45,45,45,1) 100%,rgba(29,29,29,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(76,76,76,1) 0%,rgba(79,79,79,1) 0%,rgba(58,58,58,1) 20%,rgba(44,44,44,1) 50%,rgba(29,29,29,1) 52%,rgba(38,38,38,1) 100%,rgba(45,45,45,1) 100%,rgba(29,29,29,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#1d1d1d',GradientType=0 ); /* IE6-9 */  
  .footer-wrap{
    width: 896px;
    margin: 0 auto 0 auto;
    height: 100%;
    .css-links{
      padding-top: 12px;
      float: left;
      .css-contact{
        position: relative;
        top: -14px;
        width: 100px;
        float: left;
        padding-top: 22px;
        span{
          display: inline-block;
          color: #CCC;
          font-family: 'Arial';
          font-size: 18px;
          &.number{
            font-size: 15px;
            color: #0092BF;
            font-weight: bold;
            text-shadow: 0px 0px 3px black;
          }
        }
      }
      a{
        margin: 20px;
      }
      img{
        width: 50px;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        &.css-mail{
          position: relative;
          top: -4px;
          background: lightgray;
        }
        //TODO fix pngs to let hover look good;
        &:hover{
          //box-shadow: 0px 0px 16px -3px white;
        }
      }
    }
    .css-portfolio{
      float: right;
      border-left: 2px groove #777;
      width: 140px;
      height: 78px;
      box-shadow: -1px 0px 6px 0px #111, inset -6px 0px 6px -5px #111, inset 6px 3px 2px -5px #555;
      position: relative;
      top: 2px;
      span{
        font-family: 'Arial';
        color: #CCC;
        text-align: center;
        width: 100%;
        display: inline-block;
        margin-top: 28px;
        font-size: 18px;
        text-shadow: 0px 1px 0px #444, 0px -1px 0px #111;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
      &:hover{
        cursor: pointer;
        background: rgb(76,76,76); /* Old browsers */
        background: -moz-linear-gradient(top,  rgba(76,76,76,1) 0%, rgba(66,66,66,1) 0%, rgba(45,45,45,1) 20%, rgba(43,43,43,1) 50%, rgba(25,25,25,1) 51%, rgba(30,30,30,1) 86%, rgba(51,51,51,1) 100%, rgba(38,38,38,1) 100%, rgba(45,45,45,1) 100%, rgba(25,25,25,1) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(76,76,76,1)), color-stop(0%,rgba(66,66,66,1)), color-stop(20%,rgba(45,45,45,1)), color-stop(50%,rgba(43,43,43,1)), color-stop(51%,rgba(25,25,25,1)), color-stop(86%,rgba(30,30,30,1)), color-stop(100%,rgba(51,51,51,1)), color-stop(100%,rgba(38,38,38,1)), color-stop(100%,rgba(45,45,45,1)), color-stop(100%,rgba(25,25,25,1))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  rgba(76,76,76,1) 0%,rgba(66,66,66,1) 0%,rgba(45,45,45,1) 20%,rgba(43,43,43,1) 50%,rgba(25,25,25,1) 51%,rgba(30,30,30,1) 86%,rgba(51,51,51,1) 100%,rgba(38,38,38,1) 100%,rgba(45,45,45,1) 100%,rgba(25,25,25,1) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  rgba(76,76,76,1) 0%,rgba(66,66,66,1) 0%,rgba(45,45,45,1) 20%,rgba(43,43,43,1) 50%,rgba(25,25,25,1) 51%,rgba(30,30,30,1) 86%,rgba(51,51,51,1) 100%,rgba(38,38,38,1) 100%,rgba(45,45,45,1) 100%,rgba(25,25,25,1) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  rgba(76,76,76,1) 0%,rgba(66,66,66,1) 0%,rgba(45,45,45,1) 20%,rgba(43,43,43,1) 50%,rgba(25,25,25,1) 51%,rgba(30,30,30,1) 86%,rgba(51,51,51,1) 100%,rgba(38,38,38,1) 100%,rgba(45,45,45,1) 100%,rgba(25,25,25,1) 100%); /* IE10+ */
        background: linear-gradient(to bottom,  rgba(76,76,76,1) 0%,rgba(66,66,66,1) 0%,rgba(45,45,45,1) 20%,rgba(43,43,43,1) 50%,rgba(25,25,25,1) 51%,rgba(30,30,30,1) 86%,rgba(51,51,51,1) 100%,rgba(38,38,38,1) 100%,rgba(45,45,45,1) 100%,rgba(25,25,25,1) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#191919',GradientType=0 ); /* IE6-9 */        
      }
      &:active{
        box-shadow: inset -6px 0px 6px -5px #111111, inset 6px 3px 2px -5px #555555, inset 0 3px 6px 1px #111111;
      }
    }
  }
}
div.nudge{
   height: 80px;
   clear: both;
}
button{
  padding: 3px 10px 5px 10px;
  border-radius: 5px;
  font-size: 13px;
  box-shadow: inset 0 -17px 33px -1px #222;
    //inset 0 30px 35px -18px #FFC925;//#666
  text-shadow: 0 1px 3px black;
  font-weight: bold;
  color: white;
  background-color: #999;
  border: none;
  -webkit-transition-property: box-shadow,text-shadow;
	-webkit-transition-duration: .2s,.1s;
  &:hover{
    text-shadow: 1px 1px 4px black;
	  box-shadow: inset 0 -13px 33px -1px #222;
    // inset 0 32px 35px -18px #F5C753;
	  text-decoration: none;
	  cursor:pointer;
  }
  &:active{
    box-shadow: inset 0 -13px 30px 0px #333, inset 0px 1px 6px 1px black;
    -webkit-transition-duration: 0s,.1s;
  }
}
.css-hidden {
  display: none;
}
.css-faded{
  opacity: 0;
  position: relative;
  top: -430px;
  display: none;
}
#skypedetectionswf{
  display: none;
}

/*PORTFOLIO*/
.portfolio{
  background: url('./images/dot-pattern.gif') repeat transparent;
  .wrapper {
    margin: 0 auto -80px auto;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /*The -100px mentioned above needs to be the exact height of the footer.*/
  }
  .page{
    width: 960px;
    margin: 0 auto 0 auto;
    .main-body{
      width: 780px;
      height: 300px;
      background: blue;
      float: left;
    }
    .nav{
      width: 180px;
      float: right;
      height: 200px;
      background: yellow;
    }
  }
  .header{
    width: 100%;
    height: 60px;
    background: rgb(76,76,76); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(76,76,76,1) 0%, rgba(79,79,79,1) 0%, rgba(58,58,58,1) 20%, rgba(44,44,44,1) 50%, rgba(29,29,29,1) 52%, rgba(38,38,38,1) 100%, rgba(45,45,45,1) 100%, rgba(29,29,29,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(76,76,76,1)), color-stop(0%,rgba(79,79,79,1)), color-stop(20%,rgba(58,58,58,1)), color-stop(50%,rgba(44,44,44,1)), color-stop(52%,rgba(29,29,29,1)), color-stop(100%,rgba(38,38,38,1)), color-stop(100%,rgba(45,45,45,1)), color-stop(100%,rgba(29,29,29,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(76,76,76,1) 0%,rgba(79,79,79,1) 0%,rgba(58,58,58,1) 20%,rgba(44,44,44,1) 50%,rgba(29,29,29,1) 52%,rgba(38,38,38,1) 100%,rgba(45,45,45,1) 100%,rgba(29,29,29,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(76,76,76,1) 0%,rgba(79,79,79,1) 0%,rgba(58,58,58,1) 20%,rgba(44,44,44,1) 50%,rgba(29,29,29,1) 52%,rgba(38,38,38,1) 100%,rgba(45,45,45,1) 100%,rgba(29,29,29,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(76,76,76,1) 0%,rgba(79,79,79,1) 0%,rgba(58,58,58,1) 20%,rgba(44,44,44,1) 50%,rgba(29,29,29,1) 52%,rgba(38,38,38,1) 100%,rgba(45,45,45,1) 100%,rgba(29,29,29,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(76,76,76,1) 0%,rgba(79,79,79,1) 0%,rgba(58,58,58,1) 20%,rgba(44,44,44,1) 50%,rgba(29,29,29,1) 52%,rgba(38,38,38,1) 100%,rgba(45,45,45,1) 100%,rgba(29,29,29,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#1d1d1d',GradientType=0 ); /* IE6-9 */  
  }
}
