body{
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}
.css-container{
  background-image: url('./images/tiles.png');
  height: 400%;
  width: 100%;
  position: absolute;
  -moz-transition-property: top;  
  -moz-transition-duration: .4s;  
  -webkit-transition-property: top;  
  -webkit-transition-duration: .4s;
  &[data-active="portfolio"]{
    top: 0%;
  }
  &[data-active="main"]{
    top: -100%;
  }
  &[data-active="contact"]{
    top: -200%;
  }
}
.css-portfolio{
  top: 0;
  bottom: 75%;
  margin-top: 0px;
}
.css-main{
  top: 25%;
  bottom: 50%;
}
.css-contact{
  top: 50%;
  bottom: 25%;
}
.css-section{
  position: absolute;
  left: 0px;
  right: 0px;
  overflow: hidden;
  margin: 0;
}
.css-profile-container{
  background: red;
  height: 76%;
  width: 70%;
  position: absolute;
  top: 50%;
  left: 14.1%;
  margin-top: -40%;
  border: 4px solid #444;
  border-radius: 5px;
  .css-details{
    background: blue;
  }
  .css-overview{
    -moz-transition-property: opacity, height;  
    -moz-transition-duration: .2s, .2s;  
    -webkit-transition-property: opacity, height;  
    -webkit-transition-duration: .2s, .2s;
    background: green;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    img{
      height: 280px;
      position: relative;
      top: 50%;
      margin-top: -140px;
      margin-left: 15px;
    }
    .css-view-profile{
      -moz-transition-property: bottom, margin-bottom;  
      -moz-transition-duration: .2s, .2s;  
      -webkit-transition-property: bottom, margin-bottom;  
      -webkit-transition-duration: .2s, .2s;
      position: absolute;
      right: 15px;
      bottom: 2%;
      &:before{
        content: 'Show Resume'
      }
    }
    &.css-mini-overview{
      height: 8%!important;
      .css-view-profile{
        bottom: 50%;
        margin-bottom: -12px;
        &:before{
          content: 'Hide Resume'
        }
      }
    }
  }
}
.css-nav{
  position: absolute;
  background: #333;
  z-index: 1;
  width: 100%;
  height: 8px;
  span{
    position: absolute;
    background: #333;
    left: 50%;
    margin-left: -55px;
    line-height: 30px;
    cursor: pointer;
    height: 30px;
    width: 100px;
    color: #ccc;
    font-family: arial;
    text-align: center;
    &.css-top{
      top: -28px;
      border-radius: 32px 32px 0px 0px;
      padding-bottom: 6px;
    }
    &.css-bottom{
      top: 0px;
      border-radius: 0px 0px 32px 32px;
      padding-top: 6px;
    }
  }
  &.css-top{
    top: 0;
  }
  &.css-bottom{
    bottom: 0;
  }
}
button{
  padding: 3px 10px 5px 10px;
  border-radius: 5px;
  font-size: 13px;
  box-shadow: inset 0 -17px 33px -1px #222;
    //inset 0 30px 35px -18px #FFC925;//#666
  text-shadow: 0 1px 3px black;
  font-weight: bold;
  color: white;
  background-color: #999;
  border: none;
  -webkit-transition-property: box-shadow,text-shadow;
	-webkit-transition-duration: .2s,.1s;
  &:hover{
    text-shadow: 1px 1px 4px black;
	  box-shadow: inset 0 -13px 33px -1px #222;
    // inset 0 32px 35px -18px #F5C753;
	  text-decoration: none;
	  cursor:pointer;
  }
  &:active{
    box-shadow: inset 0 -13px 30px 0px #333, inset 0px 1px 6px 1px black;
    -webkit-transition-duration: 0s,.1s;
  }
}
.css-hidden {
  display: none;
}
